################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Hands-On-Neural-Network-Programming-with-CSharp/v17/.wsuo
/.vs/Hands-On-Neural-Network-Programming-with-CSharp/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/Chapter02/NeuralNetwork/.vs/NeuralNetwork/FileContentIndex/5fe6e714-5e52-4818-a497-cc56d89bab1b.vsidx
/Chapter02/NeuralNetwork/.vs/NeuralNetwork/v17/.suo
/Chapter02/NeuralNetwork/.vs/NeuralNetwork/v17/DocumentLayout.json
/Chapter02/NeuralNetwork/Example1/bin/Debug/Example1.exe
/Chapter02/NeuralNetwork/Example1/bin/Debug/Example1.pdb
/Chapter02/NeuralNetwork/Example1/bin/Debug/NN.dll
/Chapter02/NeuralNetwork/Example1/bin/Debug/NN.pdb
/Chapter02/NeuralNetwork/Example1/obj/Debug/.NETFramework,Version=v4.7.1.AssemblyAttributes.cs
/Chapter02/NeuralNetwork/Example1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Chapter02/NeuralNetwork/Example1/obj/Debug/Example1.csproj.AssemblyReference.cache
/Chapter02/NeuralNetwork/Example1/obj/Debug/Example1.csproj.CoreCompileInputs.cache
/Chapter02/NeuralNetwork/Example1/obj/Debug/Example1.csproj.FileListAbsolute.txt
/Chapter02/NeuralNetwork/Example1/obj/Debug/Example1.csproj.Up2Date
/Chapter02/NeuralNetwork/Example1/obj/Debug/Example1.exe
/Chapter02/NeuralNetwork/Example1/obj/Debug/Example1.pdb
/Chapter02/NeuralNetwork/NN/bin/Debug/NN.dll
/Chapter02/NeuralNetwork/NN/bin/Debug/NN.pdb
/Chapter02/NeuralNetwork/NN/obj/Debug/.NETFramework,Version=v4.7.1.AssemblyAttributes.cs
/Chapter02/NeuralNetwork/NN/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Chapter02/NeuralNetwork/NN/obj/Debug/NN.csproj.AssemblyReference.cache
/Chapter02/NeuralNetwork/NN/obj/Debug/NN.csproj.CoreCompileInputs.cache
/Chapter02/NeuralNetwork/NN/obj/Debug/NN.csproj.FileListAbsolute.txt
/Chapter02/NeuralNetwork/NN/obj/Debug/NN.csproj.Up2Date
/Chapter02/NeuralNetwork/NN/obj/Debug/NN.dll
/Chapter02/NeuralNetwork/NN/obj/Debug/NN.pdb
/Chapter02/NeuralNetwork/.vs/NeuralNetwork/FileContentIndex/fb855459-8c0c-432c-b9a2-2a08444e4352.vsidx
/Chapter02/NeuralNetwork/.vs/NeuralNetwork/FileContentIndex/03973375-eb85-4a5e-b045-84dc19523db9.vsidx
/Chapter02/NeuralNetwork/.vs/NeuralNetwork/FileContentIndex/2c56fb1f-e2fa-4ab6-b6bf-835d6b14318c.vsidx
/Chapter02/NeuralNetwork/.vs/NeuralNetwork/FileContentIndex/6f5bb2c6-0f11-4b17-a67a-ddacb5796bf1.vsidx
